*{
    font-family: "Poppins" ;
}

::-webkit-scrollbar {

    width: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #705EDC;
    border-radius: 10px;
  }

  :root {
    --swiper-navigation-color: #705EDC;
  }

  .text-shadow {
    text-shadow: 2px 2px 5px #0000005d !important;
}
